<% include partials/header %>
<h2><%= title %></h2>
<h3>Items:</h3>
<ul>
<% products.forEach(function(product) { %>
    <li><%= product.product_name %>, <%= product.price %> $
    <a href="/mycart/remove/<%= product._id %>"  class="delete" id="<%= product._id %>"><button id="delete">Remove</button></a>
    </li>

<% }); %>

<h3>number of items in cart: <%= amount_incart %></h3>

<h3>Total Price: <%= total %> $</h3>

<button>Procced to Payment</button>
<br><br>
<button><a href="/"><-Return</a></button>
